div {
  background: url("../../assets/img/meow.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  color: #fff;
}

h1 {
  font-size: 15em;
}
